@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

turbo-frame {
  display: contents;
}


@keyframes poll-countdown {
  from { transform: scaleX(1); }
  to   { transform: scaleX(0); }
}
